.header {
	background: $cinza-escuro;
	position: fixed;
	top: 0px;
	height: 70px;
	width: 100%;
	z-index: 999;

	@include device(small) {
		visibility: hidden;
	}
}

nav {
	width: 100%;

	img {
		width: 30px;
		position: relative;
		top: 20px;
	}

	ul {
		text-align: center;
		margin-top: 20px;
		position: relative;
		top: -20px;

		@include device(medium) {
			margin-top: 26px;
		}

		li {
			display: inline-block;
		}

		&:first-child {
			margin: 0px 0px;
			padding: 0px 0px;
		}
	}

	a {
		padding: 10px 12px;
		margin: 0px 28px;
		text-decoration: none;
		text-transform: uppercase;
		color: $branco;
		transition: color 0.6s;

		@include tipo-1(24);

		&:hover {
			color: $vermelho-sangue;
		}

		@include device(medium) {
			padding: 5px 6px;
			margin: 0px 10px;

			@include tipo-1(18);
		}
	}
}