.intro {
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1080px;
	width: 100%;
	padding-top:  200px;
	text-align: center;
	margin-top: 65px;

	@include device(small) {
		margin-top: 0px;
		padding-top: 80px;
		height: 640px;
	}

	img {
		display: block;
		margin: 0 auto;

		@include device(small) {
			width: 100%;
		}
	};

	h1 {
		color: $branco;
		text-transform: uppercase;
		text-align: center;

		@include tipo-1(48);

		&::before {
			content: '';
			display: block;
			width: 35%;
			height: 4px;
			background: $vermelho-sangue;
			margin: 30px auto;
			margin-top: -10px;
		}

		@include device(small) {
			@include tipo-1(24);

			&::before {
				width: 60%;
				height: 2px;
				margin: 15px auto;
				margin-top: 0px;
			}
		}

		@include device(medium) {

			&::before {
				width: 60%;
			}
		}
	}

	.quote {
		max-width: 500px;
		margin: 0 auto;

		&::before, &::after {
			content: '';
			display: block;
			width: 50%;
			height: 2px;
			background: $vermelho-sangue;
			margin: 15px auto;
		}

		&::before {
			margin-bottom: 20px;
		}

		&::after {
			margin-bottom: 60px;
		}

		@include device(small) {
			max-width: 280px;
		}
	}
}
