.som {
	position: fixed;
	background-color: $vermelho-claro;
	border-radius: 50%;
	margin-top: 20px;
	right: 12px;
	bottom: 12px;

	img {
		width: 60px;
		height: 60px;
		padding: 6px;
		background-image: url(../img-site/mute.png);

		@include device(small) {
			width: 42px;
			height: 40px;
		}
	}
}